.search {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 90%;
 
  left: 50%;
  transform: translateX(-50%);
  position: relative; 
}

.searchContainer {
  width: 40%;
  max-width: 1024px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 30px;
  position: relative;
  margin-left: auto;
margin-right: auto;
max-width:1024px;
}

.searchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  padding: 8px 12px;
  border-right: 1px solid #ddd;
}

.searchItem:last-child {
  border-right: none;
  flex: 0;
}

.searchIcon {
  color: gray;
  font-size: 18px;
}

.searchInput {
  border: none;
  outline: none;
  width: 80%;
  font-size: 14px;
}

.searchText {
  color: #555;
  cursor: pointer;
  font-size: 14px;
}

.searchBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
}


.options {
  position: absolute;
  top: 75px;
  background-color: white;
  color: #333;
  border-radius: 6px;
  box-shadow: 0px 5px 15px rgba(171, 168, 168, 0.15);
  z-index: 10;
  padding: 15px;
  width: 250px;
}

/* ===== MOBILE SEARCHBAR SIZE FIX ONLY ===== */

@media (max-width:768px){

.search{
  width:95%;
  margin:10px auto;
  
  transform:none;
  height:auto;   /* ADD THIS LINE */
  position:relative;
}

.searchContainer{
  width:80%;
  display: flex;
  padding:5px;
}

.searchItem{
  padding:6px 8px;
}

.searchInput{
  font-size:12px;
}

.searchText{
  font-size:12px;
}

.searchBtn{
  padding:6px 6px;
  font-size:13px;
}

.searchIcon{
  font-size:14px;
}
}